
.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .navigation-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid #ccc;
  }
  
  .navigation-menu button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .navigation-menu button:hover {
    color: #007bff;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  td {
    text-align: center;
  }
  